body {
    margin: 0;
    padding: 0;

}

.bg {
    background-color: rgb(162, 233, 255);
    color: rgb(255, 255, 255);
    font-family: 微軟正黑體;
}

.table {
    height: fix-content;
    max-width: 600px;
    margin: auto;
    margin-top: 0em;
    width: 100%;
    border-radius: 2em;
    color: black;
}

td{
    padding: 0.5em;
}

.logo {
    width: 110px;

}

.worktitle {
    height: 36px;
}

.container {
    width: 70%;
    margin-left: 30%;
    padding: 0;
}

.header {
    height: 100vh;
    overflow: auto;
    padding-top: 36vh;
    padding-left: 3vw;
    background-image: url("img/rawr.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    margin-left: 30%;
    width: 70%;
    box-sizing: border-box;
}

.Dai {
    height: 100%;
    width: 100%;
    padding-top: 36vh;
    background-image: url("img/rawl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    height: 100vh;
    /* height:  */
}

.title {
    line-height: 20vh;
    font-size: 10vw;
    margin: 0;
    padding: 0vw;
    color: black;
}

.contact {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 30%;

}

.nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    margin: 0;
    /* background-color: rgb(53, 38, 16); */
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}

.li {
    list-style-type: none;
    display: inline-block;
    padding: 0.8em;
    line-height: 3vh;
    text-decoration: none;
    color: rgb(112, 112, 112);
}

.li:visited {}

.li:hover {
    background-color: rgba(160, 160, 160, 0.486);
    color: white;
}

.li:active {
    background-color: rgba(160, 160, 160, 0.486);
    color: white;
}

.li:focus {
    background-color: rgba(160, 160, 160, 0.486);
    color: white;
}

.about {
    background-color: darkslategrey;
    padding:2em 3vw;
    /* padding-left: 3vw; */
    /* padding-right: 3vw; */
    /* padding-top: 2; */
}

.work {
    padding:2em 3vw;
    padding-right: 3vw;
    background-color: darkgrey;
    /* padding-top: 2em; */
    color: black;
}

.school {
    padding:2em 3vw;
    /* padding-left: 3vw; */
    /* padding-right: 3vw; */
    background-color: rgb(78, 0, 0);
    /* padding-top: 2em; */
}

.shadow {
    box-shadow: 4px 4px 3px black;
}
.shadowg {
    box-shadow: 4px 4px 3px gray;
}

.mountain {
    height: 200vh;
    width: 100%;
    background-color: white
}

@media only screen and (max-width: 700px) {
    .contact {
        position: unset;
        height: unset;
        box-sizing: border-box;
        width: 100%;

    }
    .container {
        width: 100%;
        margin-left: 0;
        padding-left:0;
    }
    .header {
        margin-left: 0;
        width: 100%;
    }
}